/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    margin: auto auto;
    max-width: 1800px;
  }
  
  a {
    color: #ff4a17;
    text-decoration: none;
  }
  
  a:hover {
    color: #ff724a;
    text-decoration: none;
  }
  /* li{
    font-size: 18px;
  
  } */
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }
  p{
    font-size: 18px;
  }
  .blogs{
    border: 2px solid grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .blogs h5{
    font-weight: bolder;
    border-bottom: 2px solid grey;
    color: #444444;

  }
  .blogs p{
    color: #444444;
  }
  .blogs article{
    max-width: 400px;
    border: 2px solid grey;
    margin: 10px;
    padding: 10px;

  }
  .blogs article a{
    border: 2px solid grey;

  }